@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


*{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', monospace;
}

/* header-section */

 .heading{
	 box-sizing: border-box;
	 width: 100%;
	 height: 100vh;
	 background-color: hsl(217, 28%, 15%);
	 padding: 5px 4%;
	 align-items: center;
	 margin-top: 5px;
	 font-family: 'Raleway', Courier;

 }

 .logo {
	 position: absolute ;


}

   .logs {
	   margin-top: 80px;
	  width: 100%;
	 display: flex;
	 align-items: center;
	 flex-direction: row;
	 margin-left: 300px;
	 margin-right: 20px;
	 overflow: auto;
	
 } 

 /* navbar-section */

 .navbar ul {
	 display: flex;
	 align-items: center;
	 justify-content: flex-end;
	 margin-top: 10px;
	 top: 5px;
	 
 }

nav {
	flex: 1;
}

 .navbar ul li {
	 margin-right: 30px;
	 flex-direction: row;
	 display: inline-block;
	 list-style-type: none;
	 margin-top: 15px;
 }

 .navbar ul li a{
	 text-decoration: none;
	 color: hsla(0, 0%, 100%, 0.781);
	 font-size: 17px;
	 transition: 0.4s;
	
 }

 .navbar ul li a:hover{
	 border-bottom: 1px hsl(0, 0%, 100%) solid;
	 color: hsl(0, 0%, 100%);

 }

 
 .curvy{
	 background: url('../images/bg-curvy-desktop.svg');
	 background-repeat: no-repeat;
	 background-size: cover;
	 background-color:hsl(217, 28%, 15%);
	 width: 100%;
	 background-position: center;
	 height: 100vh;
	 margin-top: -150px;
    
 }

 .intro {
	 align-items: center;
	 flex-direction: column;
	 text-align: center;
	 padding: 250px 0 0 0;
 }

 .intro h1{
	 line-height: 40px;
	 color: hsl(0, 0%, 100%);
     font-weight: 700;
	 margin-bottom: 30px;
 }

 .intro p{
	 font-size: 18px;
	 color: hsl(0, 0%, 100%);
	 line-height: 25px;

 }

 .intro button{
	 border: none;
	 border-radius: 30px;
	 text-decoration: none;
	 background: linear-gradient(to right,hsl(176, 68%, 64%),hsl(198, 60%, 50%));
	 padding: 10px 70px;
	 color: hsl(0, 0%, 100%);
	 margin-top: 50px;
	 cursor: pointer;
	 transition: 0.5s;
	 font-family: 'Raleway', Courier;
	 height: 3.8em;
	 text-align: center;

 }

 .intro button:hover {
	 background: hsl(176, 68%, 64%);

 }


/* container */

.container{
	margin: -50px auto;
	padding: 0 10px;
	background-color:hsl(218, 28%, 13%);
	align-items: center;
	display: flex;
}

   /* container for columns1 */
 .columns1 {
	padding: 4% 5%;
	margin: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
 }

/* column-1 */
.column-1{
	margin: 30px;
	padding: 10px 8%;
	justify-content:space-between;
	text-align: center;
	color: hsl(0, 0%, 100%);
	font-size: 14px;

} 

.column-1 h3{
	margin: 10px 10px;

}

/* container for column2 */

.columns2 {
	padding: 4% 5%;
	margin: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
}

/* column-2 */

.column-2 {
	margin: 30px;
	padding: 10px 8%;
	justify-content:space-between;
	text-align: center;
	color: hsl(0, 0%, 100%);
	font-size: 14px;
}

.column-2 h3{
	margin: 10px 10px;
}

img{
	margin: 10px
}

/*{
    border: solid greenyellow 1px;
}*/

body .productive-parent, .comments {
    background-color: hsl(218, 28%, 13%);
    color: white;
    border: 0;
    padding: 0;
}

.productive-parent {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
    top: 10px;
}

.productive-img-div {
    position: relative;
    width: 45%;
    padding: 5%;
}

.productive-img {
    position: relative;
    display: block;
    width: 35em;
}

.productive {
    position: relative;
    width: 55%;
    margin: auto 0;
      
}

.productive-h2 {
    font-family: 'Raleway', Courier;
    font-weight: 700;
    font-size: 2.2em;
    width: 65%;
}

.productive-p{
    font-family: 'Open Sans', monospace;
    font-size: 16px;
    width: 90%;
}

.a {
    text-decoration: none;
    color: white;
}

.flyo-button {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', monospace;
    font-size: 9px;
    padding-right: 10px;
    border: none;
    padding-left: 0px;
    background-color: transparent;
    color: hsl(176, 68%, 64%);
    border-bottom: solid hsl(176, 68%, 64%) 2px;
    width: 18em;
    height: 2em;
    top: 10px;
    cursor: pointer;
}

.flyo-button:hover {
    /*filter was used instead of color so that the color of the image will change to white as well*/
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7465%) hue-rotate(92deg) brightness(110%) contrast(105%);
    border-bottom: solid white 2px;
}

.flyo-works {
    position: relative;
    display: flex;
    width: 20px;
    height: 20px;
	align-self: center;
} 

.fylo-see span {
	text-align: left;
	display: flex;
    font-size: 12px;
    margin-left: 0px;
}

 .parent-comment {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    width: 87%;
    top: 20px;
	height: 50vh;
 }

.child-comment {
    position: relative;
    width: 26%;
    height: 10em;
    background-color: hsl(219, 30%, 18%);
    padding: 25px;
    border-radius: 5px;
    box-shadow: inset;
    font-family: 'Open Sans', monospace;
    font-size: 14px;
    box-shadow: 2px 2px 10px hsl(220, 27%, 2%);
}

.block {
    display: block;
}

.client-profile {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 9em;
    line-height: 1.2;
}

.client-image {
    position: relative;
    display: block;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    top: 12px;
	padding-top: -5px;
}

.client-role {
    font-size: 8px;
}

.client-name {
    font-size: 10px;
    font-weight: 700;
}

.comment-tag {
    position: relative;
    top: 35px;
    width: 86%;
    margin: auto;
}

.client-detial {
    top: 30px;
}

  .invite-Container {
	  background-color: hsl(218, 28%, 13%);

  }

.invite-box {
    position: relative;
    width: 52%;
    top: 110px;
    margin: auto;
    border-radius: 5px;
    padding: 20px 60px 50px;
    text-align: center;
    background-color: hsl(217, 28%, 15%);
    color: white;
    font-size: 14px;
    font-family: 'Open Sans', monospace;
    box-shadow: 4px 4px 6px hsl(214, 26%, 5%), -4px -4px 6px hsl(214, 26%, 5%);
}

.invite-heading {
    font-size: 2em;
    font-family: 'Raleway', Courier;
}

.invite-p {
    position: relative;
    width: 90%;
    margin: auto;
}

.submit-div {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 4em;
    top: 30px;
}

.input-invite {
    position: relative;
    width: 63%;
    height: 3.8em;
    color: rgb(97, 95, 95);
    font-size: 12px;
    border: none;
    border-radius: 30px;
    background-color: white;
    padding-left: 40px;
}

.submit {
    position: relative;
    width: 28%;
    height: 3.8em;
    background-color: hsl(176, 68%, 64%);
    border: none;
    border-radius: 30px;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

footer {
    background-color: hsl(216, 53%, 9%);
    height: 35em;
    font-family: 'Open Sans', monospace;
    font-size: 14px;
}

li {
    list-style: none;
}

.footer-div {
    position: relative;
    width: 85%;
    margin: auto;
    top: 200px;
}

.footer-flex {
    position: relative;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 6%;
    margin: auto;
    top: 20px;
}

.footer-logo {
    width: 12em;
}

.footer-child {
    width: 11%;
    line-height: 2;
}

.a:hover {
    font-weight: 700;
}

.location {
    display: flex;
    flex-direction: row;
    width: 28%;
    line-height: 1.5;
	color: white;
}

.location-img {
    position: relative;
    width: 15px;
    height: 15px;
    right: 15px;
    top: 15px;
}

.contact {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    top: 15px;
    line-height: 2.5;
    font-size: 12px;
    width: 14%;
	color: white;
} 

.contact-icons {
    /* position: relative; */
    width: 10px;
    right: 15px;
    margin-bottom: -2.7px;
    padding-top: 4px;
}

.footer-media {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 12%;
    top: 20px;
}

.media-icons {
    display: block;
    width: 20px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7465%) hue-rotate(92deg) brightness(110%) contrast(105%);
}

.media-icons:hover {
    filter: hsl(176, 68%, 64%);
}

p .attribution-link{
	text-decoration: none;
	color: rgb(249, 246, 246);
}

p .span{
	color: hsl(176, 68%, 64%);
}

   @media(max-width: 769px){
    .logo {
        /* position: relative ; */
        width: 40%;
        padding-top: 10px;
   

}

.navbar ul li {
    margin-right: 15px;
    flex-direction: row;
    display: inline-block;
    list-style-type: none;
    margin-top: 15px;

}

.navbar ul li a{
    font-size: 10px;

}

.logs {
    margin-top: 50px;
   width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 0px;
  margin-right: 100px;
  overflow: auto;

}

.size
{
    width: 80%;
    margin-top: 40px;
}

.curvy{
    background: url('../images/bg-curvy-desktop.svg');
    background-repeat: no-repeat;
    background-size: 100vw;
    background-color:hsl(217, 28%, 15%);
    background-position: center;
    height: 100vh;
    /* margin-top: -150px; */
}

.heading{
    height: 40vh;
}

.container{
	margin: -230px auto;
	padding: 0 10px;
	background-color:hsl(218, 28%, 13%);
	align-items: center;
	display: flex;
    flex-direction: column;
}

.intro {
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 250px 0 0 0;

   }

   .sub-intro{
       margin-top: 70px;
       /* padding: 0 5%; */
   }

   .container-2{
       width: 100%;
       height: 100%;
       margin: 250px 0;
   }



   
 .intro h1{
    line-height: 20px;
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 20px;
    padding: 0 5%;
    /* flex-wrap: wrap; */
    /* flex-basis: 50%; */
    text-align: center;
    margin: 0 5%;
}

.intro p{
    font-size: 12px;
    color: hsl(0, 0%, 100%);
    line-height: 16px;
    padding: 10px 5px;

    margin: 5px 7%;
}

.intro button{
    border: none;
    border-radius: 30px;
    text-decoration: none;
    background: linear-gradient(to right,hsl(176, 68%, 64%),hsl(198, 60%, 50%));
    padding: 10px 50px;
    color: hsl(0, 0%, 100%);
    margin-top: 25px;
    cursor: pointer;
    transition: 0.5s;
    font-family: 'Raleway', Courier;
    height: 2.8em;
    text-align: center;

}

.intro button:hover {
    background: hsl(176, 68%, 64%);

}


 .productive-parent {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
    top: 10px;
    flex-direction: column;
}

 .productive-img {
    /* position: relative; */
    /* display: block; */
    width: 18em;
    padding: 0 4%;
    margin-top: 35px;
    margin: 0 4%;
    margin-left: 5%;
}


.productive {
    position: relative;
    width: 100%;
    margin: auto 0;
      
}

.productive-h2 {
    font-family: 'Raleway', Courier;
    font-weight: 700;
    font-size: 1.0em;
    width: 100%;
    margin: 20px 0;
    margin-left: 15px;
    margin-right: 20px;
    
}

.productive-p{
    font-family: 'Open Sans', monospace;
    font-size: 10px;
    width: 90%;
    margin: 20px 0;
    margin-left: 15px;
    margin-right: 20px;
    text-align: left;

}

.flyo-button {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', monospace;
    font-size: 16px;
    padding: 0;
    border: none;
    background-color: transparent;
    color: hsl(176, 68%, 64%);
    border-bottom: solid hsl(176, 68%, 64%) 2px;
    width: 10em;
    height: 1.5em;
    top: 10px;
    cursor: pointer;
    margin-left: 15px;
}

.flyo-button:hover {
    /*filter was used instead of color so that the color of the image will change to white as well*/
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7465%) hue-rotate(92deg) brightness(110%) contrast(105%);
    border-bottom: solid white 2px;
}

.flyo-works {
    position: relative;
    display: flex;
    width: 20px;
    height: 20px;
	align-self: center;
} 

.fylo-see span {
	text-align: right;
	display: flex;
}


.comments{
    display: flex;
    flex-direction: column;
    
}

.parent-comment {
    /* position: relative; */
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    margin: 50px 0;
    width: 100%;
    top: 20px;
	height: 100vh;
    flex-direction: column;
    padding: 100px 0;

 }

.child-comment {
    /* position: relative; */
    width: 70%;
    height: 10em;
    background-color: hsl(219, 30%, 18%);
    padding: 25px;
    border-radius: 5px;
    box-shadow: inset;
    font-family: 'Open Sans', monospace;
    font-size: 12px;
    box-shadow: 2px 2px 10px hsl(220, 27%, 2%);
    margin: 10px 15px ;
    justify-content: space-between;
    flex-direction: column;
}

.block {
    display: block;
}


.comment-tag{
    top: 200px;
}


     .invite-box {
        position: relative;
        width: 80%;
        height: 40vh;
        top: 110px;
        margin: auto;
        border-radius: 5px;
        padding: 10% 10px;
        text-align: center;
        background-color: hsl(217, 28%, 15%);
        color: white;
        font-size: 12px;
        font-family: 'Open Sans', monospace;
        box-shadow: 4px 4px 6px hsl(214, 26%, 5%), -4px -4px 6px hsl(214, 26%, 5%);
     }
    
    .invite-heading {
        font-size: 1.5em;
        font-family: 'Raleway', Courier;
        margin-bottom: 10px;
    }
    
    .invite-p {
        position: relative;
        width: 100%;
        margin: auto;
    }
    
    .submit-div {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 8em;
        top: 30px;
        flex-direction: column;
        padding: 0 auto;
        align-items: center;
    }
    
    .input-invite {
        position: relative;
        width: 50%;
        height: 2.8em;
        color: rgb(97, 95, 95);
        font-size: 12px;
        border: none;
        border-radius: 30px;
        background-color: white;
        padding-left: 40px;
        paddi;
    }
    
    .submit {
        position: relative;
        width: 63%;
        height: 2.8em;
        background-color: hsl(176, 68%, 64%);
        border: none;
        border-radius: 30px;
        color: white;
        font-weight: 500;
        cursor: pointer;
        font-size: 12px;
        margin-top: 20px;
    }
    

    .footer{
        height: 100;
    }

    .footer-div {
        position: relative;
        width: 100%;
        margin: auto;
        top: 200px;
        display: flex;
        flex-direction: column;
    }
    
    .footer-flex {
        position: relative;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        /* gap: 6%; */
        margin: auto;

        flex-direction: column;

    }
    
    .footer-logo {
        width: 12em;
    }
    
    .footer-child {
        width: 11%;
        line-height: 2;
    }













   }